.feed-container {
    border: solid 1px;
    height: 100%;
    width: 400px;
}
.feed-container-search {
    border: solid 1px;
    width : 250px;
    margin-left: 50px;
}
.copilot-search-container {
    border: solid 1px;
    height: 50%;
}
.feed-container-search {
    border: solid 1px;
    width: 250px;
    margin-top: 50px;
    margin-left: 80px;
    height: 40px;
}
.feed-event-list {
    border: solid 1px;
    height: 50%;
}
.feed-event-container {
    margin-top: 50px;
    border: solid 1px;
    height: 125px;
    margin-left: 25px;
    margin-right: 25px;
}