:root {
    --ps-pink: #F08788;
    --ps-dark-blue: #000b50;
    --ps-green-bright: #c5fc90;
    --ps-white-1: #f9f9f9;
    --ps-white-2:#F3F4F8;
  // Slate Colors
  --slate-50: #F8FAFC;
  --slate-100: #F1F5F9;
  --slate-200: #E2E8F0;
  --slate-300: #CBD5E1;
  --slate-400: #94A3B8;
  --slate-500: #64748B;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1E293B;
  --slate-900: #0F172A;

  // Gray Colors
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;

  // Zinc Colors
  --zinc-50: #FAFAFA;
  --zinc-100: #F4F4F5;
  --zinc-200: #E4E4E7;
  --zinc-300: #D4D4D8;
  --zinc-400: #A1A1AA;
  --zinc-500: #71717A;
  --zinc-600: #52525B;
  --zinc-700: #3F3F46;
  --zinc-800: #27272A;
  --zinc-900: #18181B;

  // Neutral Colors
  --neutral-50: #FAFAFA;
  --neutral-100: #F5F5F5;
  --neutral-200: #E5E5E5;
  --neutral-300: #D4D4D4;
  --neutral-400: #A1A1A1;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;

  // Stone Colors
  --stone-50: #fafaf9;
  --stone-100: #e9e4df;
  --stone-200: #d5d0cc;
  --stone-300: #d1cfcf;
  --stone-400: #a7a8a5;
  --stone-500: #8b8c83;
  --stone-600: #6e7066;
  --stone-700: #585857;
  --stone-800: #444543;
  --stone-900: #282828;

  // Red Colors
  --red-50: #FEF2F2;
  --red-100: #FEE2E2;
  --red-200: #FECACA;
  --red-300: #FCA5A5;
  --red-400: #F87171;
  --red-500: #EF4444;
  --red-600: #DC2626;
  --red-700: #B91C1C;
  --red-800: #991B1B;
  --red-900: #7F1D1D;

  // Orange Colors
  --orange-50: #FFF7ED;
  --orange-100: #FFEDCC;
  --orange-200: #FFD69E;
  --orange-300: #FFB84D;
  --orange-400: #FFA500;
  --orange-500: #FF8C00;
  --orange-600: #FF7F00;
  --orange-700: #FF6F00;
  --orange-800: #FF6200;
  --orange-900: #E54E00;

  // Amber Colors
  --amber-50: #FFFBEB;
  --amber-100: #FEF3C7;
  --amber-200: #FDE68A;
  --amber-300: #FBC94C;
  --amber-400: #FBBF24;
  --amber-500: #F59E0B;
  --amber-600: #D97706;
  --amber-700: #B45309;
  --amber-800: #92400E;
  --amber-900: #78350F;

  // Yellow Colors
  --yellow-50: #FEFEA0;
  --yellow-100: #FEF08A;
  --yellow-200: #FCD34D;
  --yellow-300: #FBBF24;
  --yellow-400: #F59E0B;
  --yellow-500: #D97706;
  --yellow-600: #B45309;
  --yellow-700: #9A3412;
  --yellow-800: #7C2D12;
  --yellow-900: #7C2D12;

  // Green Colors
  --green-50: #ECFDF5;
  --green-100: #99F6E4;
  --green-200: #5EEAD4;
  --green-300: #2DD4BF;
  --green-400: #0EA5E9;
  --green-500: #0284C7;
  --green-600: #0369A1;
  --green-700: #075985;
  --green-800: #1D4ED8;
  --green-900: #0C4A6E;

  // Emerald Colors
  --emerald-50: #ECFDF5;
  --emerald-100: #99F6E4;
  --emerald-200: #5EEAD4;
  --emerald-300: #2DD4BF;
  --emerald-400: #0EA5E9;
  --emerald-500: #0284C7;
  --emerald-600: #0369A1;
  --emerald-700: #075985;
  --emerald-800: #1D4ED8;
  --emerald-900: #0C4A6E;

  // Teal Colors
  --teal-50: #F0FDFA;
  --teal-100: #CCFBF1;
  --teal-200: #99F6E4;
  --teal-300: #5EEAD4;
  --teal-400: #2DD4BF;
  --teal-500: #0EA5E9;
  --teal-600: #0284C7;
  --teal-700: #0369A1;
  --teal-800: #075985;
  --teal-900: #0C4A6E;

  // Cyan Colors
  --cyan-50: #ECFEFF;
  --cyan-100: #99F6E4;
  --cyan-200: #5EEAD4;
  --cyan-300: #2DD4BF;
  --cyan-400: #0EA5E9;
  --cyan-500: #0284C7;
  --cyan-600: #0369A1;
  --cyan-700: #075985;
  --cyan-800: #1D4ED8;
  --cyan-900: #0C4A6E;

  // Sky Colors
  --sky-50: #F0F9FF;
  --sky-100: #BAE6FD;
  --sky-200: #7DD3FC;
  --sky-300: #38BDF8;
  --sky-400: #0EA5E9;
  --sky-500: #0284C7;
  --sky-600: #0369A1;
  --sky-700: #075985;
  --sky-800: #1D4ED8;
  --sky-900: #0C4A6E;

  // Blue Colors
  --blue-50: #EFF6FF;
  --blue-100: #DBEAFE;
  --blue-200: #BFDBFE;
  --blue-300: #93C5FD;
  --blue-400: #60A5FA;
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --blue-700: #1D4ED8;
  --blue-800: #1E40AF;
  --blue-900: #1E3A8A;

  // Indigo Colors
  --indigo-50: #EEF2FF;
  --indigo-100: #E0E7FF;
  --indigo-200: #C7D2FE;
  --indigo-300: #A5B4FC;
  --indigo-400: #818CF8;
  --indigo-500: #6366F
}