.expanded-tray {
    display: flex;
    flex-direction: column;
    background-color: #f3f4f8;
    width: 100%;
    height: 100%; /* Full height of the container */
    border-top: 2px solid var(--ps-dark-blue);

    .expanded-tray-header {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: var(--ps-white-1); 
        box-shadow: 0 2px 4px rgba(0, 11, 80, 0.2); 
        height: 51px;
        gap: 5px;
      }
  }
  
  
  
  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .expanded-tray-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .expanded-tray-content {
    flex-grow: 1; /* Makes the content area take up the remaining space */
  }