.side-tray{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    background:  #F3F4F8 ;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    transition: width 0.8s ease, box-shadow 0.3s ease;

    .tray-pane {
        position: absolute; 
        display: flex;
        flex-direction: column;
        right: 0;           
        top: 50%;           
        transform: translateY(-50%); 
        width: 90px;       
        background-color:#0B1644;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        padding: 60px 10px 60px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        z-index: 10;    
        height: 400px;   
        justify-content: space-between
      }
}