.card-header{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--ps-green-bright);

    .header-nav-btn-left{
        width: 50px;
        height: 100%;
    }

    .header-title{
        font-size: var(--ps-txt-s);
        font-weight: 600;
        padding-left: 10px;
        color: var(--slate-600);
    }

    .header-nav-btn-right{
        width: 50px;
        height: 100%;
        margin-left: auto
    }
}

.container-content{
    padding: 5px;
    flex-grow: 1;
    overflow-y: auto;
}