.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: calc(100vh - 50px);
    flex-grow: 1;
    justify-content: flex-start;
    background-color: var(--ps-white-2);
}

.dashboard {
    border: solid 1px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .dashboard-page{
        display: flex ;
        flex-direction: column;
        flex-grow: 1;
    }
}