.saved-events{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px 5px 5px 5px;
    

    .filters{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--slate-200);

        .time-filter-container{
            font-size: var(--ps-txt-xs);
            display: flex;
            flex-direction: row;
          
            justify-content: center;
            .title{
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                flex-grow: 1;
                border: 1px solid var(--slate-300);
                background-color: var(--slate-200);
                padding: 0 10px 0 10px;
                font-weight: 500;
                color: var(--ps-dark-blue);
                justify-content: center;
                align-items: center;
                display: flex;
            }
        }

        .sector-filter{
            flex-grow: 1;
        }
    }

    .saved-event-list{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
       

        .saved-event-dates-container{
            padding: 10px;
            border-bottom: 1px solid var(--slate-200);

            .saved-event-dates{
                font-size: var(--ps-txt-xs);
                font-weight: bold;
            }

            .list-container{
                display: flex;
                flex-direction: column;
                padding-left: 30px;
                gap: 20px;
            }
        }
    }

}


.saved-event-block{
    display: flex;
    flex-direction: column;

    .event-detail{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .event-source{
            font-size: var(--ps-txt-xs);
            font-weight: 500;
            justify-content: center;
            display: flex;
            align-items: center;
        }
        .predicted-sentiment{
            display: flex;
            align-items: center;
        }
        .delete{
            margin-left: auto;
        }
    }

    .securities-list{
        display: flex;
        flex-direction: row ;
        gap: 10px;

    }
}