.ai-board-dashboard{
    display: flex;
    flex-direction: column;
    width: 35%;
    flex-grow: 1;

    .main-panel{
        width: 100%;
        overflow-y: auto;

    }
}

.result-board {
    flex-grow: 1;
}

.agent-input-container{
    min-height: 150px;
    padding: 0px 10px 40px 10px;
    max-height: 300px;
    height: 17%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .agent-selection-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5px;
        background-color: var(--ps-white-1);
        border-radius: 20px;


        .input-container-main{
            margin-bottom: 5px;
            
            flex-grow: 1;
            display: flex;
            flex-direction: row;
    
            .input-container{
             flex-grow: 1;
            
             textarea {
                width: 100%;
                font-size: var(--ps-txt-xs);
                resize: none;
                flex-wrap: wrap;
                padding: 10px;
                background-color: transparent; /* Fix the invalid value */
                border: none; /* Add a border for clarity */
                border-radius: 4px;
                outline: none; /* Remove the default outline */
                word-wrap: break-word; /* Break content into a new line */
                overflow-wrap: break-word; /* Ensure long words break properly */
                white-space: normal; /* Allow wrapping to the next line */

      
                &::placeholder {
                  color: #aaa; /* Placeholder text color */
                  font-style: italic;
                }
      
                // &:focus {
                // }
              }
            }
        
            .button-section{
                width: 35px;
            }
        }

        .agent-selection-section {
            height: 20px;
        }
    }
    

    

    .message-container{
        min-height: 20px;
    }
}