:root {
  --grid-size: 20px; /* Define the grid size variable */
}
.builder-layout {
  display: flex;
  flex-direction: column;

  .editor-class {
    display: flex;
    flex-direction: row; /* Arrange components in a row */
    flex-grow: 1; 
    position: relative;
  }
}

  
  
  