.feed-container {
    max-height: 100%;
    width: 100%;
    background-color: var(--ps-white-1);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

.feed-event-list {
    padding-top: 5px;
    height: 100%;
    max-height: 100%;
    box-shadow: 0px 4px 6px rgba(82, 90, 146, 0.3);
}
.feed-event-container {
  margin: 15px 5px 20px 5px;
  box-shadow: 1px 1px 1px 2px rgba(82, 90, 146, 0.2);
  height: auto;
  border-radius: 10px;

  .header-section{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid var(--slate-200);

    .sector-list {
        flex-grow: 3;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        gap: 5px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
    }
    .sentiment-section{
        font-size: var(--ps-txt-xxs);
        display: flex;
        gap: 10px;
        align-items: center;
        font-weight: bold;
        flex-grow: 1;
        flex-direction: row;
        padding-left: 20px;
        border-left: 1px solid var(--slate-200);

        .sentiment-symbol{
            min-width: 30px;
        }
    }
  }


  .event-title {
    padding: 5px;
    margin-top: 4px;
    font-size: var(--ps-txt-s);
    font-family: 500;
    min-height: 70px;
  }

  .footer-section{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 12px 10px 2px 10px;
    border-top: 1px solid var(--slate-200);
    

    .date-field{
        flex-grow: 1;
        justify-content: end;
        display: flex;
        flex-direction: row;
        font-size: var(--ps-txt-xs);
        color: var(--ps-dark-blue);


    }

    .source-field{
        font-size: var(--ps-txt-xs);
        justify-content: start;
        flex-grow: 1;
        font-weight: bold;
    }
  }

  .securities-section{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    
    

    .header-sec {
        width: 7.5%;
        font-size: var(--ps-txt-xxs);
        font-weight: bold;
        color: var(--slate-500);
        border-right: 1px solid var(--slate-200);
        align-items: center;
        display: flex;
        align-items: center;
    }

    .securities-tag{
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
  }
}