.dashboard-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    padding: 5px;
    background-color: var(--ps-white-2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;

    .header-left-bar {
        flex-grow: 1;
    }
    .header-search {
        flex-grow: 1;
        padding-top: 5px;
        padding-left: 20px;
    }
    .header-profile {
        border: 5px;
        flex-grow: 1;
        flex-basis: 0; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;


        .profile-button{
            border-radius: 20%;
            padding: 0px;
            height: 35px;
          
        }
    }
}
