@import './_colors/colors.scss';


.centred-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-color: var(--gray-900);
}


.container-card {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--slate-200);
    background-color: var(--ps-white-1);
    display: flex;
    flex-direction: column;
}