
.builder-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: #0B1644;
    border-bottom: 2px solid #C5FC90;
    padding: 4;
}


.back-test-select {
    width: 300px;
}